.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}


.bJCmFu {
  width: 100vw !important;
  height: 100vw !important;
}